body {
  margin: 0 auto;
  font-family: sans-serif;
  color: #fff;
  font-size: 1.125em;
  text-decoration: none; }

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto; }

.header {
  background: url(../img/bg1.jpg) no-repeat center top/cover;
  height: 100vh;
  /*min-height: 600px;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh; }
  .menu-bar .logo img {
    width: 10%; }
  .menu-bar .menu {
    width: 45%; }
  .menu-bar .menu ul {
    display: flex;
    justify-content: space-around;
    list-style: none; }
  .menu-bar .menu-link {
    font-family: sans-serif;
    color: #fff;
    font-size: 1.125em;
    text-decoration: none; }

.header-text {
  text-align: right;
  padding-top: 12%;
  padding-right: 5%;
  font-size: 1.5em; }

/*ABOUT*/
/*.bg{
	background: linear-gradient(#0172E0,#00389C,#9B318D,#AF394D,#FC0C33);
	
}
*/
.about {
  padding: 3%;
  text-align: center;
  /*min-height: 300px;*/
  margin: 0 auto;
  height: 40vh;
  background: linear-gradient(#0172E0, #00389C, #9B318D); }

/*AUDIO*/
.audio {
  padding-top: 3%;
  text-align: center;
  height: 100vh;
  /*min-height: 750px;*/
  background: linear-gradient(#9B318D, #AF394D, #FC0C33); }
  .audio iframe {
    height: 80vh;
    width: 90%; }

.more img {
  width: 8%; }

/*CONTACT*/
.contact {
  background-color: #222;
  height: 90vh;
  /*min-height: 600px;*/
  text-align: center;
  padding-top: 3%; }

.textbox {
  margin: 20px;
  width: 99%;
  /*height: 40px;*/
  height: 40px;
  /*max-width:450px;*/
  max-width: 450px;
  background: #171717;
  color: #fff;
  font-size: 1em;
  padding-left: 20px;
  border: 1px solid #fff; }

.memo {
  margin: 20px;
  width: 99%;
  /*height: 40px;*/
  height: 120px;
  /*max-width:450px;*/
  max-width: 450px;
  background: #171717;
  color: #fff;
  font-size: 1em;
  padding-left: 20px;
  border: 1px solid #fff; }

.btn {
  margin: 20px;
  width: 99%;
  /*height: 40px;*/
  height: 50px;
  /*max-width:450px;*/
  max-width: 200px;
  background: #171717;
  color: #fff;
  font-size: 1em;
  padding-left: 20px;
  border: 1px solid #fff; }

.f {
  background-color: #171717;
  height: 10vh; }

/*MEDIA*/
@media (max-width: 1024px) {
  .menu-bar .logo img {
    width: 70px; }
  .menu-bar .menu {
    width: 60%; }
  .menu-bar .menu-link {
    font-size: 1.7em;
    /*text-align: center;*/ }

  .header-text {
    /*padding-right: 5%;*/
    font-size: 2.6em; }

  .about {
    height: 40vh;
    font-size: 1.6em; }

  .audio {
    height: 80vh;
    font-size: 1.6em; }
    .audio iframe {
      height: 65vh; }

  .more img {
    width: 130px; }

  .contact {
    font-size: 1.6em;
    height: 55vh; }

  .textbox {
    max-width: 500px;
    height: 50px; }

  .memo {
    max-width: 500px;
    height: 150px; }

  .btn {
    max-width: 300px;
    height: 70px; } }
@media (max-width: 768px) {
  .menu-bar .logo img {
    width: 70px; }
  .menu-bar .menu {
    width: 70%; }
  .menu-bar .menu-link {
    font-size: 1.7em;
    /*text-align: center;*/ }

  .header-text {
    /*padding-right: 5%;*/
    font-size: 2.5em; }

  .about {
    height: 50vh;
    font-size: 1.4em; }

  .audio {
    height: 80vh;
    font-size: 1.4em; }
    .audio iframe {
      height: 60vh; }

  .more img {
    width: 130px; }

  .contact {
    font-size: 1.4em;
    height: 70vh; }

  .textbox {
    max-width: 500px;
    height: 50px; }

  .memo {
    max-width: 500px;
    height: 150px; }

  .btn {
    max-width: 300px;
    height: 70px; } }
@media (max-width: 450px) {
  .container {
    width: 97%; }

  .menu-bar .logo img {
    width: 40px; }
  .menu-bar .menu {
    width: 100%; }
  .menu-bar .menu-link {
    font-size: 1.2em;
    /*text-align: center;*/ }

  .header-text {
    /*padding-right: 5%;*/
    font-size: 2.3em; }

  .about {
    height: 90vh;
    font-size: 1.2em; }

  .audio {
    height: 100vh;
    font-size: 1.2em; }
    .audio iframe {
      height: 77vh; }

  .more img {
    width: 85px; }

  .contact {
    font-size: 1.2em;
    height: 85vh; }

  .textbox {
    max-width: 300px;
    height: 30px; }

  .memo {
    max-width: 300px;
    height: 90px; }

  .btn {
    max-width: 200px;
    height: 50px; } }
@media (max-width: 360px) {
  .container {
    width: 97%; }

  .menu-bar .logo img {
    width: 40px; }
  .menu-bar .menu {
    width: 100%; }
  .menu-bar .menu-link {
    font-size: 1.2em;
    /*text-align: center;*/ }

  .header-text {
    /*padding-right: 5%;*/
    font-size: 2.3em; }

  .about {
    height: 90vh;
    font-size: 1.1em; }

  .audio {
    height: 100vh;
    font-size: 1.1em; }
    .audio iframe {
      height: 77vh; }

  .more img {
    width: 85px; }

  .contact {
    font-size: 1em;
    height: 80vh; }

  .textbox {
    max-width: 250px;
    height: 20px; }

  .memo {
    max-width: 250px;
    height: 70px; }

  .btn {
    max-width: 150px;
    height: 50px; } }
@media (max-width: 320px) {
  .container {
    width: 97%; }

  .menu-bar .logo img {
    width: 35px; }
  .menu-bar .menu {
    width: 100%; }
  .menu-bar .menu-link {
    font-size: 1em;
    /*text-align: center;*/ }

  .header-text {
    /*padding-right: 5%;*/
    font-size: 2.2em; }

  .about {
    height: 90vh;
    font-size: 1em; }

  .audio {
    height: 100vh;
    font-size: 1em; }
    .audio iframe {
      height: 77vh; }

  .more img {
    width: 85px; }

  .contact {
    font-size: 1em;
    height: 80vh; }

  .textbox {
    max-width: 200px;
    height: 20px; }

  .memo {
    max-width: 200px;
    height: 60px; }

  .btn {
    max-width: 180px;
    height: 40px; } }
/*@media only screen and (max-width: 980px) {
	
}

@media only screen and (max-width: 650px){

	.audio{
		& iframe{
			height: 300px;}
	}
}

	@media only screen and (max-width: 480px) {
	.audio{
		& iframe{
			height: 100px;}
	}
	
}*/

/*# sourceMappingURL=style.css.map */
